{% extends 'base.html' %}
{% block body %}
<!-- Page Header-->
<header>
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is how i help You.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container" style="padding-bottom: 15em; " style="padding-top: 4em;">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            &nbsp;


            <p>You could add your Todo anytime and anywhere with a given title and description. And guess what's the
                benefit?</p>
            <p>
                It automatically updates the time you enter the todo !!</p>

            <p>One could take advantage of the update option and change the todo whenever wanted. And what if you wanna
                ditch those todos?
                The delete features helps you do that.</p>

            <p>Use the todo and become the most punctual and diciplanary person. </p>

        </div>
    </div>
</div>

{% endblock body %}